.TextInput {
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
}

.TextInput:focus {
    outline: none;
    border-color: #BD9242;
}

.Button {
    border-color: #BD9242;
    padding: 10px;
    font-size: 1em;
    background: #BD9242;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 20px auto;
}

h2 {
    color: #BD9242;
}

.Button:hover {
    background: #cca55c;
}