.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fae7c3;
  font-family: Calibri;
  color: #bd9242;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: #bd9242;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 5px;
}

footer {
  padding: 5px;
  justify-content: center;
  font-size: medium;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
}

header {
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 50px;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: #bd9242;
}

a:hover {
  color: #611c7c;
}
