.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fae7c3;
  font-family: Calibri;
  color: #bd9242;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: #bd9242;
  text-shadow: 5px 5px #130d03;
}

main {
  flex-grow: 1;
  text-align: center;
  padding-bottom: 10px;
}

footer {
  padding: 10px;
  justify-content: center;
  font-size: medium;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
}

header {
  font-family: "Bebas Neue";
  font-size: 60px;
  margin-bottom: -50px;
}

a {
  text-decoration: none;
  color: #bd9242;
}

a:hover {
  color: #611c7c;
}
